
<div class="row">
  <footer style="padding-top: 60px; padding-bottom: 40px;">
    <div style="float:left;">
      &copy; <a href="http://taykangsheng.com">TayKangSheng</a>
    </div>
    <div style="float:right;">
      <a href="https://github.com/taykangsheng">Contact</a>  |  
      <a href="https://github.com/TayKangSheng/CritiquEat">About</a>
    </div>
  </footer>
</div>

<!-- <#% debug(params) if Rails.env.development? %> -->
