// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-nav {
  line-height: 28px;
}

.navbar-brand {
  line-height: 28px;
}

.nav>li>a>img{
  margin-left: 5px;
  margin-right: 5px;
}
